.navbar {
  height: 0px;
}

.profile-pic {
  display: block;
  width: 12.5em;
  height: 12.5em;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
}

.block {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.custom-transparent {
  background-color: rgba(255, 255, 255, 0.9);
}

.icons-social {
  font-size: 3em;
}

.icons-social i {
  color: black;
  padding: 10px;
}

.project-icon {
  font-size: 3em;
  color: black;
  padding: 10px;
}

.project-description {
  padding-bottom: 15px;
}

.highlighted-text {
  border-bottom: 2px solid #039be5;
  padding-bottom: 1px;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating) {
  color: #039be5 !important;
}
